<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		.column {
			float: left; 
			width: 48%; 
			padding: 5px;
		}
		.header_image {
		  width: 50%;
		}
	</style>
	<title></title>
</head>
<body>
<div class="jumbotron text-center">
	  <h1>Alpha Blog</h1>
	  <%= link_to "Join", "#", class: "btn btn-default btn-lg" %>
</div>
	<div class="nav"><%= link_to 'Home', root_path %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to 'About', about_path %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to 'Blog', articles_path %></div>
	<div  class="column">
		<h3>Left header</h3>
		<p>Phasellus ornare sem non ipsum dignissim, blandit euismod sapien mattis. Praesent nec tempor purus. Nam interdum elit volutpat magna blandit, quis interdum nulla scelerisque. Morbi eu placerat nunc. Nunc at fermentum lacus. Nulla venenatis mauris at nibh vehicula, id pellentesque libero bibendum. Donec commodo lobortis justo in accumsan. Integer vel mauris dolor.</p>
	</div>
	<div class="column">
		<h3>Right header</h3>
		<p>Nullam ut ligula sit amet nulla facilisis fermentum eu non libero. Nam tincidunt dui quis accumsan congue. Vestibulum fermentum arcu nec massa rutrum suscipit eget id tortor. Integer nec mauris dapibus, luctus nibh a, faucibus sem. Cras vel luctus tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam sit amet egestas mauris.</p>
	</div>
</body>
</html>